<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Dealz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="container-fluid row">
                <div class="col-8">
                    <p class="fs-1"></p>
                </div>
                <div class="col-4">
                    <p class="text-end">
                        <a href="/dashboard" class="btn btn-primary mx-4">Dashboard</a>
                        <a href="/logout" class="btn btn-secondary mx-2 my-2">Logout</a>
                    </p>
                </div>
            </div>
            <div class="container-fluid row">
                <h1>{{"${:,.0f}".format(carro.price)}}</h1>
            </div>
            <div class="container-fluid row">
                <p>Model: {{carro.model}}</p>
            </div>
            <div class="container-fluid row">
                <p>Make: {{carro.make}}</p>
            </div>
            <div class="container-fluid row">
                <p>Year: {{carro.year}}</p>
            </div>
            <div class="container-fluid row">
                <p>Description:</p>
            </div>
            <div class="container-fluid row">
                <p>{{carro.description}}</p>
            </div>
            <div class="container-fluid row">
                <div class="col-8">
                    <p>Seller: {{seller}}</p>
                </div>
                <div class="col-4">
                    <p class="text-end">
                        <form class="btn-group" action="/purchase/{{carro.car_id}}/{{session['usr_id']}}" method="post">
                            <button class="btn btn-warning">Purchase</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>